html, body, #root {
  height: 100%;
  min-height: 100%;
}

.toGrab {
  cursor: grab;
}
.grabbing {
  cursor: grabbing;
}

.inputDate {
  background-color: black;
}
.inputDate:hover {
  background-color: gray;
  cursor: pointer;
}